.Superior{
    padding-inline: 1.5rem;
    padding-block: 2rem;
    border-radius: 0.3125rem;
    background-color: #fff;
}
.Superior .first{
    font-weight: 700;
    line-height: 1.25rem;
    color: var(--BrightYellow);
    margin-bottom: 1rem;
}
.Superior .second{
    line-height: 1.625rem;
    color: var(--GrayishBlue);
    font-size:0.875rem;
}
.Esquerda{
    background-color: var(--Cyan);
    padding: 1.5rem;
}

.Esquerda .first{
    color:#fff;
    font-size: 2rem;
    font-weight: 700;
    line-height: 2.375rem;
}
.Esquerda .second{
    color:#fff;
    opacity: 0.5;
}
.Esquerda .classe{
    display: flex;
    margin-bottom: 0.25rem;
    gap: 0.75rem;
    align-items: center;
}
.Esquerda  > p{
    color:#fff;
    line-height: 1.625rem;
    margin-bottom: 1.625rem;
}
.Esquerda button{
    padding-block: 1rem;
    width: 100%;
    color: #fff;
    font-size: 1rem;
    line-height: 1.125rem;
    border: none;
    background-color: var(--BrightYellow);
    border-radius: 0.3125rem;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.0973011);
}
.Direita{
    background-color: var(--LightCyan);
    padding:1.5rem;
    border-bottom-left-radius: 0.3125rem;
    border-bottom-right-radius: 0.3125rem;
}
.Direita p{
    line-height: 1.25rem;
    font-size: 0.875rem;
    color:#fff;
    opacity: 0.75;
}
